<div class="tab-pane fade" id="panel-history" role="tabpanel">
	<h3>Trade History</h3>
		<table class="userHistory table table-hover mt-5">
			<thead>
				<tr>
					<th>Date</th>
					<th>Symbol</th>
					<th>QTY</th>
					<th>Trade Price $</th>
					<th>Total $</th>
					<th>Action</th>
				</tr>
			</thead>
		  	<tbody class='userStocks'>
		  		{{#each Ledger}}
		  		<tr>
		  			<td>{{date}}</td>
		  			<td>{{symbol}}</td>
		  			<td>{{stock_count}}</td>
		  			<td>{{purchase_price}}</td>
		  			<td>{{total_gain}}</td>
		  			<td>Action</td>
		  		</tr>
		  		{{/each}}
		  	</tbody>
		</table>
	</div>
{{!-- 

	$(".userHistory").append("<thead><tr><th>Date</th><th>Symbol</th><th>QTY</th><th>Trade Price $</th><th>Total $</th><th>Action</th></tr></thead><tbody class='ledgerEntry'></tbody>");
        for (i = 0; i < stock.length; i++) {
            let date = stock[i].createdAt
            let dateTrimmed = date.substring(0, date.indexOf('T'))
            let total = stock[i].stock_count * stock[i].purchase_price
            $(".ledgerEntry").append(`<tr><td>${dateTrimmed}</td><td>${stock[i].symbol}</td><td>${stock[i].stock_count}</td><td>${stock[i].purchase_price}</td><td>${total}</td><td>Action</td></tr>`);
        } --}}