  <section id="user" class="white-text">
	  <div class="container">
		  <div class="row">
			  <div class="col-6">
				  <h3>My Account</h3>
				  <p id="user_email" class="my-font-small"></p>
			  </div>
			  <div class="col-3">
			  	<p class="my-font-small">Total Amount</p>
				<p id="user_value"></p>
			  </div>
			  <div class="col-3">
			  	<p class="my-font-small">Available Amount</p>
				<p id="user_available"></p>
			  </div>
		  </div>
		  <div class="row tabs-wrapper mt-4">
			  {{> navbar}}
		  </div>
	  </div>
  </section>

  <section id="content" class="container tab-content card">

	  <!-- portfolio -->
	  <div class="tab-pane fade in show active" id="panel-portfolio" role="tabpanel">
		  <h3 class="mb-5">Portfolio</h3>
		  <div class="row mb-5">
			  <div id="chart-stock" class="col-8"></div>
			  <div id="portfolio" class="col-4"></div>
		  </div>
		  <h3 class="mb-5">My Stocks</h3>
		  <table class="myStocks table table-hover text-center">
		  	<thead>
				  <tr>
					  <th class="text-left">Symbol<br><span class="my-font-small">Company</span></th>
					  <th>QTY</th>
					  <th>Last Price $</th>
					  <th>Price Paid $</th>
					  <th>Market Value $</th>
					  <th>Total Gain $</th>
					  <th>Profit/Loss %</th>
					  <th>Action</th>
				  </tr>
			  </thead>
			  <tbody>
			  	{{#each stock_detail}}
			  	<tr>
			  		<td class="text-left">{{stockID}}</td>
					<td>
						<td>{{quantity}}</td>
						{{!-- <td class="{{stockId}}">{{last_price}}</td> --}}
						<td>{{price_paid}}</td>
						<td>{{market_value}}</td>
						<td>{{total_gain}}</td>
						<td>{{profit}}</td>
						<td>
							<a class="btn btn-indigo btn-custom-small" href="#0">Chart</a>
							<a class="btn btn-cyan btn-custom-small" href="#0">Trade</a>
						</td>
					</td>
			  	</tr>
			  	{{/each}}
			  </tbody>
		  </table>
	  </div>

	  <!-- market -->
	  <div class="tab-pane fade in show active" id="panel-market" role="tabpanel">
		  <h3 class="mb-5">Major Index</h3>
		  <div class="row mb-5">
			  <div id="chart-market" class="col-6"></div>
			  <table class="col-6 table table-hover text-center">
				  <thead>
					  <tr>
						  <th class="text-left"></th>
						  <th>Last</th>
						  <th>Change</th>
						  <th>% CHG</th>
					  </tr>
				  </thead>
				  <tbody>
					  {{#each market_index}}
					  <tr>
						  <td class="text-left">{{name}}</td>
						  <td>{{last_price}}</td>
						  <td>{{change}}</td>
						  <td>{{chg}}</td>
					  </tr>
					  {{/each}}
				  </tbody>
			  </table>
		  </div>
			  {{> suggestedStock}}
	  </div>

	  <!-- history -->
	  <div class="tab-pane fade" id="panel-history" role="tabpanel">
		  {{> history}}
	  </div>

	  <!-- trade -->
	  <div class="tab-pane fade" id="panel-trade" role="tabpanel">
		  {{> trade}}
	  </div>

	  <!-- search -->
	  <div class="tab-pane fade" id="panel-search" role="tabpanel">
		  <h3>Search</h3>
		  <form id="trade" class="mt-5">
			  <div class="form-row d-flex align-items-end">
				  <div class="col-4">
					  <label for="price" class="my-font-small">Search symbol or company name</label>
					  <input type="text" class="form-control" name="price" placeholder="eg. GOOG">
				  </div>
				  <div class="col-12 mt-5">
					  <a class="btn btn-indigo" href="#0" style="margin:0">Search</a>
				  </div>
			  </div>
		  </form>
	  </div>
  </section>

